.app.dark {
    --bg-color: #3c3c50;
    --inverted-bg-color: #dee4e7;

    --primary-color: #8ca2fd;
    --secondary-color: #AABBFF;
    --inverted-primary-color: #1F2D3D;
    --inverted-secondary-color: #344c65;
}