.app.light {
    --bg-color: #d2d1d1;
    --inverted-bg-color: #3c3c50;
    --primary-color: #1f2d3d;
    --secondary-color: #344c65;
    --inverted-primary-color: #8ca2fd;
    --inverted-secondary-color: #abf;
}
